@import "../../breakpoints.scss";

.listItem {
  position: relative;

  img {
    display: block;
    width: 100%;
  }

  .meta {
    background-image: linear-gradient(
      180deg,
      rgba(14, 14, 14, 0) 43%,
      #0e0e0e 100%
    );
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 27.2px 31.8px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    @include desktop {
      padding: 0 30px 37px;
    }

    .title {
      font-family: GalanoGrotesque-Bold, sans-serif;
      font-size: 1.5rem;
      color: #ffffff;
      letter-spacing: 0;
      line-height: 0.833333;
      margin-bottom: 7px;
    }

    .genre {
      font-family: Newzald-Bold, serif;
      font-size: 1rem;
      color: #ffffff;
      letter-spacing: 0;
      line-height: 1.25;
      margin-bottom: 12px;

      @include desktop {
        margin-bottom: 17px;
      }
    }

    .rating {
      display: flex;

      .hearts {
        align-items: center;
        display: flex;

        .heart {
          /* background-color: #ff2345; */
          background-image: url(../../assets/heart.png);
          display: block;
          height: 15px;
          width: 16px;

          &:not(:last-child) {
            margin-right: 4px;
          }
        }
      }

      .value {
        font-family: GalanoGrotesque-Bold, sans-serif;
        font-size: 0.875rem;
        color: #ffffff;
        letter-spacing: 0;
        line-height: 1.428571;
        margin-left: 14px;
      }
    }
  }
}
