@import "../../breakpoints.scss";

.loadMore {
  margin: 83px auto 100px;

  @include desktop {
    margin-top: 62px;
  }

  button {
    align-items: center;
    background-color: #000;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 28px;
    border-radius: 28px;
    cursor: pointer;
    display: flex;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    padding-left: 13px;
    width: 195px;

    .icon {
      background-image: url(../../assets/load-white.png);
      background-repeat: no-repeat;
      display: block;
      height: 28px;
      width: 28px;
    }

    &.active .icon {
      animation: spin 1s linear infinite;
    }

    .text {
      font-family: GalanoGrotesque-Bold, sans-serif;
      font-size: 1rem;
      color: #ffffff;
      letter-spacing: 0;
      line-height: 1.25;
      margin-left: 30px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
